<h3> Welcome to {{ title }} </h3>

<form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm.value)">
    <label>Name</label><input type="text" formControlName="name">
    <label>Date</label><input type="text" formControlName="date">
    <label>Assigned</label><input type="text" formControlName="assigned">
    <button type="submit" [disabled]="!myForm.valid">
        Submit
    </button>
</form>

<div class="existingData">
    <div *ngFor="let task of tasks; let i = index">
        <div>
            Name: {{task.name}}  |  Date: {{task.date}}  |  Assigned: {{task.assigned}}
            <button [attr.data-index]="i" class="removeItem" (click)="remove(i)">Remove Item</button>
        </div>
    </div>
</div>